/* Ini CSS */

.welcome {
    font-size: larger;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #14141f;
}

p {
    font-size: 10px;
}

.segitiga {
    background-color:#057EB2;
    color:#F4F4F4;
    text-align: center;
    background-size: auto;
    width: auto;
    padding: 8px;
    font-size: 10px;
}

.jajargenjang {
    text-align: center;
    color:#057EB2;
    font-size: 10px;;
}